body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #000000, #ffffff);
  font-family: "Poppins", Arial, sans-serif;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 12px;
  width: 340px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

h1 {
  color: #222;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 80%;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

button:hover {
  background-color: #555;
}

.erro {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.resultado-box {
  margin-top: 20px;
  text-align: left;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resultado-box h2 {
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.resultado-box p {
  margin: 5px 0 15px 0;
  color: #444;
}

.resultado-box ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #111;
  max-height: 150px;
  overflow-y: auto;
}

.resultado-box li {
  margin-bottom: 5px;
}


